#footer {
    background: #f7f7f7;
    padding-top: 10px;
    padding-bottom: 10px;
  }
#footer p {
    font-size: 12px;
    letter-spacing: 0.1em;
    font-weight: 500;
    margin-top: 0;
    text-transform: uppercase;
  }